/** Base SCSS styles for personal website **/
@media only screen and (max-width: 991px) {
  .computer-only {
    display: none !important;
  }
}

.force-right {
  div {
    justify-content: flex-end;
  }
}


@media only screen and (max-width: 767px) {
  .about {
    padding-left: 30px !important;
    padding-right: 30px !important;
  }
}

.header-image {
  margin-top: 3em;
}

.coder-icon {
  font-size: 6em !important;
}

.strava-icon img, .amherst-icon img {
  height: 12em !important;
  display: inline;
  margin: auto;
}

.ui.cards > .card {
  margin-right: 15px;
  margin-left: 15px;
}

.work-header-container {
  margin-top: 6em;
  margin-bottom: 2em;
}

.modsy-icon img {
  height: 8em !important;
  margin-bottom: 1em;
}

.camp-celiac-icon img {
  height: 8em !important;
  padding-bottom: 5px;
  margin-bottom: 1em;
}

.chess-icon img {
  height: 8em !important;
  margin-bottom: 1em;
}

.optiver-icon {
  height: 8em;
  margin-bottom: 1em;
  text-align: center;
  img {
    height: 4em !important;
    margin-top: 3em;
  }
}

.menu {
  margin-right: 1em !important;
}

.center-img {
  margin: 0 auto;
}

.slick-next:before, .slick-prev:before {
  color: black;
  font-size: 40px;
}

.slick-next {
  margin-right: 40px;
  padding-bottom: 55px;
  z-index: 99;
  @media only screen and (max-width: 670px) {
      display: none !important;
  }
}
.slick-prev {
  margin-left: 20px;
  padding-bottom: 55px;
  z-index: 99;
  @media only screen and (max-width: 670px) {
      display: none !important;
  }
}
.slick-dots {
  bottom: -15px !important
}
.content p {
  text-align: center;
  font-weight: 100;
  font-size: 1.15em;
}
